body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.home-first-part {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #461e73 0%, #221136 29.48%, #000000 100%);
  position: relative;
  padding: var(--side-padding);
}

.top-panel {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  align-items: center;
  margin-bottom: 7em;
}

.logo-home-page {
  width: 10em;
}

.home-buttons {
  display: flex;
  align-items: center;
  z-index: 5;
}

.home-buttons div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-bg-1,
.home-bg-2 {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.home-bg-1 {
  right: 0;
}

.home-bg-2 {
  left: 0;
}

.sign-up-button {
  display: flex;
  padding: 7px 13px;
  background: var(--clr-dark-grey);
  border-radius: 20px;
  font-family: var(--font-decor);
  font-size: 1rem;
  margin-right: 2rem;
  z-index: 5;
}

.home-link {
  text-decoration: none;
  color: var(--clr-dark);
}

.login-button {
  font-size: 1rem;
  margin-right: 1.5rem;
  font-family: var(--font-decor);
  color: var(--clr-light-grey);
  z-index: 5;
}

.greet-wrapper h1 {
  grid-column: 2/7;
  grid-row: 1/2;
  font-size: 3rem;
  color: var(--clr-white);
  font-family: var(--font-decor);
  width: 100%;
  margin-bottom: 4rem;
}

.greet-wrapper {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

.greet-wrapper div {
  display: flex;
  padding: 10px 35px;
  background: var(--clr-yellow);
  border-radius: 4px;
  width: fit-content;
  font-size: 1.5rem;
  font-family: var(--font-decor);
  grid-row: 2/3;
  grid-column: 2/4;
  height: fit-content;
  z-index: 2;
  cursor: pointer;
}

.home-second-part {
  height: 100vh;
  background-color: var(--clr-light-grey);
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: var(--side-padding);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.project-description {
  grid-column: 2/7;
  grid-row: 1/2;
  font-size: 1.5rem;
  line-height: var(--line-height);
  font-family: var(--font-main);
}

.main-wallet {
  grid-column: 2/6;
  grid-row: 2/3;
  width: 95%;
}

.main-graphic {
  grid-column: 7/12;
  grid-row: 1/2;
  width: 100%;
}

.project-details {
  grid-column: 7/12;
  grid-row: 2/3;
  font-size: 1.375rem;
  font-family: var(--font-main);
  line-height: var(--line-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-text {
  font-weight: 500;
}

.get-started-button {
  display: flex;
  padding: 11px 18px;
  font-size: 1.375rem;
  background: var(--clr-light-purple);
  border-radius: 4px;
  color: var(--clr-white);
  font-family: var(--font-decor);
}

.home-page-footer {
  background-color: var(--clr-dark-purple);
  height: 280px;
  display: grid;
  gap: var(--grid-gap);
  padding: var(--side-padding);
  grid-template-columns: repeat(12, 1fr);
}

.socials-links {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-top: 1rem;
}

.home-page-footer > div {
  grid-column: 7/13;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  padding-bottom: 3rem;
}

.home-page-footer > div hr {
  border: 0;
  border-top: 2px solid var(--clr-yellow);
  width: 100%;
}

.home-page-link {
  text-decoration: none;
}
