.top-bar {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 13px;
  box-sizing: border-box;
}

.bar-wrapper .icons img {
  width: 20px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}
