.price-block-ethereum {
  background-color: #39bcff;
  padding: 18px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.crypto-name-block-ethereum {
  font-size: 1.25rem;
  line-height: 1.5rem;
  background-color: #39bcff;
  border-radius: 5px;
  height: 2rem;
  padding: 0 1rem;
  align-items: center;
  display: flex;
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
}
